#scoreBoard {
    -fx-background-image: url("../images/Yu-Gi-Oh.jpg");
    -fx-background-size: cover;
}

#IOEController {
    -fx-background-image: url("../images/yugiohseason1netflix.jpg");
    -fx-background-size: cover;
}

#shop {
    -fx-background-image: url("../images/ezgif.com-gif-maker.png");
    -fx-background-size: cover;
}

#profileController {
    -fx-background-image: url("../images/profileMenu.gif");
    -fx-background-size: cover;
}

#duelMenu {
    -fx-background-image: url("../images/duelMenubackground.gif");
    -fx-background-size: cover;
}

#back {
    -fx-background-image: url("../images/buttonPattern.jpg");
    -fx-background-size: cover;
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

#back:hover {
    -fx-background-image: url("../images/doodad.png");
    -fx-text-fill: white;
}

#shopPanel {
    -fx-background-image: url("../images/yu-gi-oh-pop-up-parade-yami-yugi-p11921-31043_medium.jpg");
    -fx-background-size: cover;
}