.root{
    -fx-background-image:url("../images/welcomePagebackground.gif");
    background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.button {
    -fx-background-color: #cd1da8;
}

.button:hover {
    -fx-background-image: url("../images/doodad.png");
}